@model ErrorModel
<p class="text-center alert alert-danger">
    <i class="fa fa-warning fa-4x"></i><br />
    <span class="font-bold">Failed!</span><br />
    <strong>@Model.ErrorMessage</strong>  <br />
    Try again!
</p>