<style>
    body {
        font-family: "Nunito","Helvetica Neue",sans-serif;
    }
</style>
<hr />
<table style="width:100%">
    <tr>
        <td>
            <p style='font-size:11px;'>Powered by: BMAT Solutions Ltd.</p>
        </td>
        <td>
            <p style='text-align:right;font-size:11px;'>Page: {#pageNum}/{#numPages}</p>
        </td>
    </tr>
</table>
