@{
    ViewData["Title"] = "Access Denied!";
    Layout = "_LayoutUnAuth";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 card-box m-t-15">
        <div class="error-template text-center">
            <h1 class="text-danger">
                <i></i>
            </h1>
            <h2 class="text-danger">
                <i class="fa fa-ban fa-3x fa-spin"></i><br /> Access Denied!
            </h2>
            <p class="text-danger">
                You do NOT have permission to access the requested resource!
            </p>
            <div>
                You can try another resource but we are watching you! <i class="fa fa-smile-o"></i>
            </div>
        </div>
    </div>
</div>

