@model ErrorModel

<div class="row">
    <div class="col-md-7">
        <p class="text-center alert alert-danger">
            <i class="fa fa-warning fa-4x"></i><br />
            <span class="font-bold">Failed!</span><br />
            <strong>@Model.ErrorMessage</strong>  <br />
            Try again!
        </p>
    </div>
</div>
<hr />
<a asp-action="PayBill"><i class="fa fa-long-arrow-left"></i> Go back</a>