@model RegidesoModel
<div id="taxDetsContent">
    <p class="text-muted">
        Enter the miarie declaration details in the form below and click on Next button
    </p>
    <div class="col">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search for Bill To Pay
            </div>
            <div class="panel-body">
                <small class="text-muted">
                    Enter the account Number in the form below and click on Get button
                </small>
                <form asp-action="QueryBills" id="frmQuey1" method="get" class="form-horizontal validate-form" role="form">
                     <div class="form-group">
                         <label asp-for="Accnt_no" class="col-md-5 control-label"></label>
                        <div class="col-md-7">
                            <input id="acc" asp-for="Accnt_no" class="form-control" />
                            <span asp-validation-for="Accnt_no" class="text-danger"></span>
                         </div>
                     </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            (<span class="text-danger">*</span>) Mandatory
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Get</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="col">
     <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search results:
            </div>
            <div class="panel-body">
                <div id="queryResult">
                    <p class="text-center">
                        <i class="fa fa-book fa-3x"></i><br />
                        Query results will be displayed here.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmQuey1').on('submit', function (e) {
            console.log("good1")
            e.preventDefault();
            $('#queryResult').html('<p class="text-center"><i class="fa fa-spin fa-spinner fa-3x"></i><br/>Querying.........</p>');
            var frm = $(this);
            var url = frm.attr("action");
            var formData = frm.serialize();
            $.get(url, formData, function (data) {
                
                $('#queryResult').html(data);
                  $("#frmQuey").hide();
            })
        })
    });
</script>
