
@{
    ViewData["Title"] = "BuyToken";
}

<h2 class="header-title">Make Cash Power Payment</h2>
<div id="mywizard">
    <h3>Customer Details</h3>
    <section data-mode="async" data-url="@Url.Action("PowerPayment")"></section>
    <h3>Make Payment</h3>
    <section>
        <div id="paymentContent">
            <h3><i class="fa fa-spin fa-spinner m-r-5"></i> <strong>Please wait........</strong></h3>
        </div>
    </section>
    <h3>Confirm</h3>
    <section>
        <div id="confirmContent">
            <h3><i class="fa fa-spin fa-spinner m-r-5"></i> <strong>Please wait........</strong></h3>
        </div>
    </section>
    <h3>Finish</h3>
    <section>
        <div id="finishContent">
            <h3><i class="fa fa-spin fa-spinner m-r-5"></i> <strong>Please wait........</strong></h3>
        </div>
    </section>
</div>

@section css{
    <link href="~/lib/jquery.steps/demo/css/jquery.steps.css" rel="stylesheet" />
}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jquery.steps/build/jquery.steps.min.js"></script>

    <script>

        var settings = {
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            transitionEffectSpeed: 400,
            /* Events */
            onContentLoaded: function (event, currentIndex) {
                if (currentIndex == 0) {
                    $("#searchForm").validate();
                }
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                return changingStep(event, currentIndex, newIndex);
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                stepChanged(event, currentIndex, priorIndex);
            },
            onFinishing: function (event, currentIndex) {
                return true;
            },
            onFinished: function (event, currentIndex) {
                location.reload();frmDa
            },
            labels: {
                finish: "Finish <i class='fa fa-check'></i>",
                next: "Next <i class='fa fa-arrow-right'></i>",
                previous: "<i class='fa fa-arrow-left'></i> Previous",
                loading: "Loading ..."
            },
            loadingTemplate: '<h3><i class="fa fa-spin fa-spinner"></i> <strong>#text#</strong></h3>'
        };
        $("#mywizard").steps(settings);

        function changingStep(event, currentIndex, newIndex) {
            console.log(currentIndex + ", " + newIndex);
            var progress = '<h3><i class="fa fa-spin fa-spinner"></i> <strong>Please wait........</strong></h3>';
            if (currentIndex == 0 && newIndex == 1) {
                var step = $("#tax_step").val();
                console.log(step);
                if (step === "0") {
                    var myForm = $('#searchForm');
                    console.log(myForm);

                    var frmData = myForm.serialize();
                    console.log(frmData);
                    $("#taxDetsContent").html(progress);
                    $.ajax({
                        type: myForm.attr('method'),
                        url: myForm.attr('action'),
                        data: frmData
                    })
                        .done(function (resp) {
                            $("#paymentContent").html(resp);
                            listenPayModeChange();
                        });


                    return true;
                } else {

                    return false;
                }
            }

            if (currentIndex == 1 && newIndex == 2) {
                //--- Payment screen
                if ($("#twende").val() === "1") {
                    //----- Post form
                    var myForm = $('#payForm');
                    var frmData = myForm.serialize();
                    $.ajax({
                        type: myForm.attr('method'),
                        url: myForm.attr('action'),
                        data: frmData
                    })
                        .done(function (resp) {
                            $("#confirmContent").html(resp);
                        });

                    return true;
                } else {
                    return false;
                }
            }
            if (currentIndex == 2 && newIndex == 3) {
                //--- Confirmation screen
                if ($("#twende").val() === "1") {
                    //----- Post form
                    var myForm = $('#confirmForm');
                    var frmData = myForm.serialize();
                    $.ajax({
                        type: myForm.attr('method'),
                        url: myForm.attr('action'),
                        data: frmData
                    })
                        .done(function (resp) {
                            $("#finishContent").html(resp);
                            listenpaymentStatusClick();
                        });

                    return true;
                } else {
                    return false;
                }
            }
            if (currentIndex == 3) {
                //--- Never go back the process was a success
                if ($("#twende").val() === "1") {
                    return false;
                }
            }
            if (currentIndex == 1 && newIndex == 0) {
                return false;
            }
            return true;
        }

        function stepChanged(event, currentIndex, newIndex) {


        }

        function listenPayModeChange() {
            $("#pay_mode").on("change", function () {
                var mode = $(this).val();

                console.log('Pay Mode: ' + mode);
                $("#account_no").hide();
                $("#cheque_no").hide();
                $("#sort_code").hide();

                if (mode === "1") {
                    $("#account_no").show();
                } else if (mode === "2") {
                    $("#account_no").show();
                    $("#cheque_no").show();
                } else if (mode === "3") {
                    $("#cheque_no").show();
                    $("#sort_code").show();
                    loadBanks();
                } else if (mode === "4") {
                    $("#cheque_no").show();
                    $("#sort_code").show();

                    loadBanks();
                }

                setCharge(mode);

            });
            $("#pay_mode").change();
        }

        function setCharge(mode) {
            var url = "@Url.Action("GetPayMode")";
            $.ajax({
                type: 'get',
                url: url,
                data: { payMode: mode}
            })
                .done(function (resp) {
                    $("#chargeVal").val(resp);
                });

        }

        function listenpaymentStatusClick() {
            $("#paymentStatus").on("click", function () {
                var Code = $(this).val();
                paymentStatus(Code);
            });
            $("#paymentStatus").click();
        }

        function paymentStatus(Code) {
            var url = "@Url.Action("GetPaymentStatus")";
            $.ajax({
                type: 'get',
                url: url,
                data: { Code: Code}
            })
                .done(function (resp) {
                    $("#paymentStatusMessage").val(resp);
                });

        }

        function loadBanks() {
            $("#banks").empty();

            var url = "@Url.Action("getbanks")";
            $.getJSON(url, function (data) {
                $.each(data, function (i, item) {
                    $("#banks").append('<option value="' + item.value + '">' + item.text + '</option>');
                });

            })
        }

    </script>
}

